<div id="features" class="col s12 brown lighten-5 white-text">
  <ul class="featureList collapsible popout" data-collapsible="expandable">
    <% features.each_with_index do |feature, f| %>
        <% id = "#{gid}f#{f}" %>
        <%= build('feature').result(binding) %>
    <% end %>
  </ul>
</div>
