<div class="row">
  <div class="col m4 s12">
    <canvas id="featuresDoughnut" width="400" height="400"></canvas>
    <table id="metaDataFeatures" class="bordered">
      <tbody></tbody>
    </table>
  </div>

  <div class="col m4 s12">
    <canvas id="scenariosDoughnut" width="400" height="400"></canvas>
    <table id="metaDataScenarios" class="bordered">
      <tbody></tbody>
    </table>
  </div>

  <div class="col m4 s12">
    <table id="metaData" class="bordered">
      <tbody>
      <tr><th>Total Time</th><td><%= duration(total_time(groups.map{|g| g['features']}.flatten)) %></td></tr>
      <% options[:additional_info].each do |key, value| %>
          <tr>
            <th><%= key %></th>
            <td><%= value %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="col s12">
    <canvas id="groupBarChart"></canvas>
  </div>
</div>
