<ul class="groupList collapsible popout" data-collapsible="expandable">
  <% groups.each_with_index do |group, g| %>

      <% gid = "g#{g}" %>
      <% features = group['features'] %>
      <li class="group">

        <div class="collapsible-header brown lighten-1 waves-effect waves-light">
          <i class="material-icons">group_work</i>
          <b><%= group['name'] %></b>&nbsp;(<%= duration(total_time(features)) %>)
        </div>

        <div class="collapsible-body brown lighten-4">
          <%= get('features').result(binding) %>
        </div>
      </li>
  <% end %>
</ul>
