<table id="summaryTable" class="bordered <%= options[:color] %> lighten-1 white-text" width="100%">
  <thead>
  <tr>
    <th class="hide-on-small-only">Feature</th>
    <th>Scenario</th>
    <th class="hide">Tags</th>
    <th>Status</th>
    <th class="hide-on-small-only">Error</th>
  </tr>
  </thead>
  <tbody>
  <% features.each_with_index do |feature, f| %>
      <% feature['elements'].each_with_index do |scenario, s| %>
          <% sid = "#{gid}f#{f}s#{s}" %>
          <tr class="<%= scenario['status'] %>">
            <%= get('summary_row').result(binding) %>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
